.card {
  display: flex;
  align-items: flex-start;
  justify-self: flex-end;
  flex-direction: column-reverse;
  margin: 0 auto;
  width: 80%;

  &__info {
    padding: 0 20px;
    width: 80vw;

    h2 {
      padding-bottom: 15px;
      font-weight: 600;
      color: $color-primario;

      @include font-size(20px);
    }

    p {
      width: 100%;
      line-height: 25px !important;

      @include font-size(18px);
    }
  }

  &__image {
    margin: 0 auto 10px auto;
    width: 70px;
    height: 80px;
    object-fit: cover;
  }

  @include media(tablet) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin: 0 0 50px 0;
    width: 90%;

    &__info {
      padding: 0;
      width: 80%;

      h2 {
        padding-bottom: 15px;
        font-weight: 600;
        color: $color-primario;

        @include font-size(20px);
      }

      p {
        width: 100%;
        line-height: 25px !important;

        @include font-size(18px);
      }
    }

    &__image {
      margin: 0 10px;
      width: 60px;
    }
  }

  @include media(tablet-2) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin: 0 0 50px 0;
    width: 90%;

    &__info {
      width: 80%;

      h2 {
        padding-bottom: 15px;
        font-weight: 600;
        color: $color-primario;

        @include font-size(20px);
      }

      p {
        width: 100%;
        line-height: 25px !important;

        @include font-size(18px);
      }
    }

    &__image {
      margin: 0 20px;
      width: 70px;
    }
  }

  @include media(desktop-s2) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 0 50px 0;
    width: 80% !important;

    &__info {
      width: 70%;

      h2 {
        padding-bottom: 15px;
        font-weight: 600;
        color: $color-primario;

        @include font-size(20px);
      }

      p {
        width: 100%;
        line-height: 25px !important;

        @include font-size(18px);
      }
    }

    &__image {
      margin: 0 20px 0 0;
      width: 70px;
    }
  }
}
